/* -------- core ----------*/
* {
	padding: 0;
	margin: 0;
}

html {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Andika', "Mukta Vaani", sans-serif;
}

:root{
	--primary: #ffffff;
	--dark: /*#2f3542*/ #1d1d1d ;
	--light: /*#f1f2f6*/ #fff;
	--grey: #a4b0be;
	--border-b-thick: var(--dark) 1px solid;
	--border-b-thin:  var(--dark) 0.25px solid;
	--border-l-thick: var(--light) 0.8px solid;
	--border-l-thin:  var(--light) 0.25px solid;
	--radius: 1rem;
}
h1, h2, h3, h4, h5, h6 {
	color: var(--light);
}

p{
	color: var(--light);
}

a.btn{
	padding: 0.5rem 2rem;
	background: var(--dark);
	border-radius: 1rem;
	text-decoration: none;
	color: var(--light);
}

a.btn:hover {
	background: var(--light);
	border: var(--border-b-thin);
	color: var(--dark);

}

.search-btn > a {
	color: var(--dark);
}

.social > a {
	color: var(--dark);
}

body{
	background: grey;
}

img{
	height: 100%;
	width: 100%;
}

.section-full{
	height: 100vh;
	display: grid;
	background: var(--light);
	grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}
		.center-box{
		max-height: 30rem;
		width: 50%;
		background: var(--dark);
		border-radius: var(--radius);
		padding: 1.5rem 1rem;
		text-align: justify;
		overflow: auto;

	}

.section-strip{
	height: 60vh;
	display:grid;
}

/*------------------- Navigation -----------------*/

.navigation, .navigation.upper, .navigation.lower, .navigation.lower ul{
	display: grid;

}
	.navigation .navigation.upper{
		grid-template-columns: 1fr 0.07fr 0.06fr;
		justify-items: center;
		align-items: center;
		padding: 0.5rem;
		background: grey;
	}
		.search-btn{
			justify-self: start;
		}

	.navigation .navigation.lower{
		background: var(--dark);
		display: inline-grid;
		grid-template-columns: repeat(1, 1fr 0.5fr);
		grid-auto-rows: minmax(5rem, auto);
	}
		.navigation.lower ul > li {
			text-align: center;
			list-style: none;

		}
			.navigation.lower ul li > a {
				text-decoration: none;
				color: var(--light);
				
			}

				.navigation.lower ul li > a:hover{
					border-bottom: var(--border-l-thick);
					padding-bottom: 0.5rem;
				}

		.navigation.lower ul{
			grid-template-columns: repeat(5, 1fr);
			align-items: center;
		}

	nav{
		position: fixed;
		left:0;
		right:0;
	}


/*-------------intro section--------------*/

		.intro .center-box > h1{
			text-align: center;
		}

/*------------------creator section ------------------*/
.section-strip.creator {
	display: grid;
	grid-template-rows: 0.15fr 1fr;
	justify-items: center;

}
	.section-strip.creator > h1 {
		align-self: end;
	}

.section-strip.creator .wrapper{
	grid-template-columns: repeat(auto-fit, minmax(15rem, 15rem));
	grid-auto-rows: minmax(15rem, 20rem);
	grid-gap: 1rem;
	align-self: center;
	margin-bottom: 2.5rem;
}
		.creator-individual{
			height: 20rem;
			width: 15rem;
			background: var(--light);
			border-radius: var(--radius);
			display: inline-grid;
			grid-template-rows: repeat(2, 1fr);
			justify-items: center;
			padding: 1rem 0;
		}

		.avatar{
				width: 10rem;
				border-radius: 50%;
			}


			.creator-desc {
				display: inline-grid;
				text-align: center;
			}

				.creator-name {
					font-size: 1.5rem;
				}	

				.creator-title {
					font-size: 1.3rem;
					color: #555753FF; 

				}
				
				.creator-prev {
					color: #888A85FF;
				}

/*-------------Donate Section-------------------*/

.section-full.donate .center-box{
	height: 15rem;
}

.donate .center-box{
	background: grey;
	text-align: center;
}

/*----------roadmap section--------------------*/
.roadmap{
	height: 75vh;
	margin-top: 2rem;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	background-image: url('img/roadmap/roadmap-3.svg');
	background-repeat: no-repeat;
	background-position: center;
}
	.roadmap-row1{
		display: grid;
		grid-template-columns: 1fr 1fr 1.06fr;

	}
		.stage1 {
			display: grid;
			grid-template-rows: 1fr 0.28fr;
		}
			.stage1 > h3{
				justify-self: end;
				margin-right: 7.875rem;
			}

			.stage1 div > h1 {
				margin-bottom: 1rem;
			}

			.stage1 >  div {
				margin-left: 10rem;
			}

		.stage3{
			justify-self: center;
			margin-left: 9.625rem;
		}


	.roadmap-row2{
		display: grid;
		grid-template-columns: 1fr 0.47fr 0.49fr;
	}

		.stage2{
			align-self: end;
			justify-self: end;
			margin-bottom: 1.21rem;
			margin-left: 0.01875rem;
		}
		.stage4{
			justify-self: center;
			align-self: end;
			margin-bottom: 1.21rem;
			margin-left: 1.1875rem;

		}
		.stage6{
			align-self: end;
			margin-bottom: 1.21rem;
			margin-left: 0.875;
		}
		.roadmap-textbox{
			text-align: justify;
			/*padding: 1rem;*/
			width: 20rem;
			font-size: 0.9rem;
		}

			.roadmap-textbox.stage6{
				width:21rem;
			}
/* ---------foooter-----------------*/
footer{
	display: grid;
	grid-template-columns: auto;
	justify-items: center;
	background: var(--dark);
}